{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Friends</title>
  <link rel="stylesheet" href="static/css/style.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"> -->
</head>
<body>
{% block header %}
  {% include "/templates/header.html" %}
{% endblock %}
  <main>
    <div class="main-content">
      <div class="vg-geracao">
        <div class="cabecalho-setor">
          <div class="icone">
            <img src="img/ScreenIcon-04.png" alt=""> 
          </div>
          <div class="descricao">
            <h1>Geração</h1>
            <p class="endereco">Rua A - nº7 - Niterói,RJ</p>
          </div>
        </div>
        
        <div class="container">
          <h1>Principal</h1>
          <div>
            <li class="atributos">
                <p>Tensão (V)</p>
                <p>Corrente (A)</p>
                <p>Geração (KW)</p>
                <p>Frequência (Hz)</p>
            </li>
          </div>
        </div>
        <div class="container">
          <h1>Principal</h1>
          <div>
            <li class="atributos">
                <p>Tensão (V)</p>
                <p>Corrente (A)</p>
                <p>Geração (KW)</p>
                <p>Frequência (Hz)</p>
            </li>
          </div>
        </div>
      </div>
    </div>

  </main>
</body>
</html>