<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Friends</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="menu-content">
      <img src="img/Grafismo - Branco.png" alt="" class="logo">
      <h1 class="nome-friends">Friends</h1>
      <nav class="header-menu">
        <ul class="list-itens">
          <li><a href="#">Visão Geral</a></li>
          <li><a href="#">Geração</a></li>
          <li><a href="#">Mapa</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <main>
    <div class="main-content">
      <div class="vg-geracao">
        <div class="cabecalho-setor">
          <div class="icone">
            <img src="img/ScreenIcon-04.png" alt=""> 
          </div>
          <div class="descricao">
            <h1>Geração</h1>
            <p class="endereco">Rua A - nº7 - Niterói,RJ</p>
          </div>
        </div>
        
        
        <div class="container">
          <h1>Principal</h1>
          <div class="atributos">
            <p>Tensão (V) <input type="text" class="output" /></p>
            <p>Corrente (A) <input type="text" class="output" /></p>
            <p>Geração (KW) <input type="text" class="output" /></p>
            <p>Frequência (Hz) <input type="text" class="output" /></p>
          </div>
        </div>
        
        <div class="container" id="ied-container">
          <h1>IED</h1>
          <div class="atributos">
            <p>Tensão (V) <input type="text" class="output" /></p>
            <p>Corrente (A) <input type="text" class="output" /></p>
            <p>Geração (KW) <input type="text" class="output" /></p>
            <p>Frequência (Hz) <input type="text" class="output" /></p>
          </div>
        </div>
        <div class="additional-container">
          <h1>Additional Container</h1>
          <div class="checkboxes">
            <label>
              <input type="checkbox" name="checkbox1"> Checkbox 1
            </label>
            <label>
              <input type="checkbox" name="checkbox2"> Checkbox 2
            </label>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
